{{> head }}


    {{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>Trabajador estrella</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit accusantium natus consectetur reprehenderit animi doloremque veritatis aut quasi itaque temporibus ipsum tenetur deleniti cum non numquam doloribus eligendi, a ad.
            </p>
        </div>
        <div class="col-4">
            <img src="assets/img/hombre.png" class="img-thumbnail">
        </div>
    </div>

{{> footer }}
